:root{
    --bg: #150042;
    --bglt: #774dea;
    --title: #dbc8ff;
    --text: #d2c0ff;
    --brd: #7cc3ff;
}

@media (max-width: 480px) {
    header,
    nav,
    main{
        width: 100%;
        max-width: 300px;
    }

    h1{
        font-size: 130%;
    }

    p,
    li{
        font-size: 60%;
    }

    h3{
        font-size: 100%;
    }

    nav ul{
        margin-top: 1rem;
    }

    nav li{
        margin: 0;
        gap: 0;
    }

    nav a{
        padding-right: 0.5rem 1rem;
    }

}

body{
    background-color: var(--bglt);
}

header,
nav,
main{
    margin: auto;
}

header {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header img{
    width: 20%;
    height: auto;
    flex-shrink: 0;
    align-content: center;
    display: block;
}

header h1{
    text-align: left;
    align-content: center;
    margin: 0;
    line-height: 1;
}


h1 a{
    color: var(--title);
    font-size: larger;
    text-decoration: none;
    font-family: "Ribeye Marrow", serif;
}

h1 a:hover{
    color: var(--text);
    text-decoration: none;
    font-family: "Ribeye Marrow", serif;
    font-size: 150%;
    transition: 0.5s;
}

nav {
    margin: auto;
    padding: auto;
    width: 100%;
    max-width: 800px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav a{
    font-family: "Glass Antiqua", serif;
    align-items: center;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    padding: 1rem 2rem;
    border: 3px dotted var(--brd);
    border-radius: 25px;
    background-color: var(--bg);
}

nav a:hover{
    font-family: "Glass Antiqua", serif;
    align-items: center;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    color: var(--bglt);
    background-color: var(--title);
    text-align: center;
    padding: 1.5rem 2.5rem;
    border: 2px solid var(--brd);
    border-radius: 25px;
    transition-duration: 0.5s;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-family: "Ribeye Marrow", serif;
    color: var(--title);
    padding: 2rem;
    margin: 3rem auto;
    border: 3px dotted var(--brd);
    background-color: var(--bg);
    border-radius: 50px;
}

p{
    max-width: 700px;
    margin: 0 auto 1.5rem auto;
    text-align: left;
    width: 70%;
    font-size:larger;
    font-family: "Glass Antiqua", serif;
    color: var(--text);
    text-indent: 25px;
}

.graexhead,
.jobhead {
    max-width: 800px;
    display: flex;
    align-items: center;
}

#graex h2,
#irljob h2{
    text-align: left;
}

#graex img,
#irljob img{
    width: 60%;
    margin: auto;
}

#graex div,
#irljob div{
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#graex section,
#irljob section{
    padding: 1.5rem;
    margin: 1rem;
    border: dashed 2px var(--brd);
    background-color: var(--bg);
    border-radius: 50px;
}

#graex h3,
#irljob h3{
    font-family: "Ribeye Marrow", serif;
    color: var(--title)
}

#graex h4,
#irljob h4{
    font-family: "Glass Antiqua", serif;
    font-weight: bolder;
    font-size: larger;
    color: var(--title);
}

#graex p,
#irljob p{
    text-indent: 0;
}

#graex ul,
#irljob ul{
    font-family: "Glass Antiqua", serif;
    color: var(--text);
}

#graex li,
#irljob li{
    padding: 0.25rem;
}

#graex,
#irljob{
    max-width: 800px;
}